<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>

    <h1>All Comments</h1>


    <ul>
        <% for(let c of comments){ %>

            <li>
                <%= c.comment %> -  <b> <%= c.username %></b>
                <a href="/comments/<%= c.id %>">Details</a>
                <a href="/comments/<%= c.id %>/edit">edit</a>

                <form style="display: inline-block;" method="POST" action="/comments/<%= c.id %>?_method=DELETE">
                    <button>Delete</button>
                </form>

            </li>

        <%}%>
    </ul>


    <a href="/comments/new">New Comment</a>
    
</body>
</html>